#resumo-main{
    /* align-self: center; */
    /* Descomentar apos terminar a secao. Isso alinhara o conteudo no centro */
    flex-grow: 1;
    flex-direction: column;
    padding-left: 100px;
    margin-top: 20px;
    /* align-items: center; */
    display: flex;
    gap: 60px;
    /* background: red; */
    
    #title{
        
        #today{
            text-align: center;
            font-size: 28px;
            color: var(--text-color);
            font-style: italic;
        }
    }


    #resumo-section{
        display: flex;
        gap: 30px;
        /* background: red; */
        color: var(--text-color);
        margin-right: 150px;
        
        #infos-wraper{
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 30px;
        }

        .infos-container{
            background: var(--lightBlue-color);
            width: 100%;
            box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .25);
        }
        
        #qtd-para-hoje_div{
            padding: 25px 30px;
            display: grid;
            gap: 10px;
            justify-items: center;
            align-content: center;
            
            h3{
                font-size: 30px;
            }

            p{
                font-size: 40px;
                
                span{
                    font-size: 46px;
                }
            }
        }

        #others-infos{
            display: flex;
            flex-direction: column;
            justify-items: center;
            padding: 10px 25px;
            
            h3{
                text-align: center;
                font-size: 30px;
            }

            .info-container{
                margin-top: 15px;
                position: relative;
                padding-bottom: 15px;
                border-bottom: 2px solid var(--text-color);

                &::before{
                    content: '';
                    position: absolute;
                    left: -16px;
                    top: 6px;
                    width: 8px;
                    height: 8px;
                    border-radius: 10px;
                    background: var(--text-color);
                }

                .info_title{
                    font-size: 20px;
                    color: inherit;
                    font-weight: 500;
                }
                .info_data{
                    margin-top: 5px;
                    font-size: 16px;
                    margin-left: 30px;
                    font-weight: 400;
                    color: inherit;
                }
            }
        }
        
        #horarios_div{
            display: grid;
            flex-grow: 1;
            grid-template-rows: auto 1fr auto;
            background: var(--lightBlue-color);
            padding: 30px 10px 20px 10px;
            height: 500px;
            box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .25);

            h3{
                text-align: center;
                font-size: 50px;
                font-weight: 800;
            }
            
            ul{
                display: flex;
                flex-direction: column;
                padding: 0px 20px 30px 20px;
                gap: 15px;
                margin-top: 20px;
                /* background: red; */
                flex-grow: 1;
                overflow-y: auto;
                overflow-x: visible;
                margin-bottom: 20px;
                /* background: red; */
                box-shadow: inset 0px -10px 10px 0px rgba(0, 0, 0, .25);

                &::-webkit-scrollbar{
                    width: 5px;
                    background: none;
                }

                &::-webkit-scrollbar-thumb{
                    background: var(--blue-color);
                    border-radius: 100px;
                }

                li{
                    display: flex;
                    list-style: none;
                    background: var(--blue-color);
                    color: white;
                    padding: 15px 20px;
                    font-size: 30px;
                    transition: .3s;

                    &:hover{
                        transform: scale(1.025);
                    }

                    *{
                        flex: 1;
                    }

                    .lista-nome{
                        font-weight: 600;
                    }

                    .lista-telefone{
                        white-space: nowrap;
                        font-weight: 600;
                    }

                    .lista-servico{
                        font-weight: 600;
                        text-align: center;
                    }
                    
                    .lista-horario{
                        font-weight: 600;
                        text-align: end;
                    }
                }
            }
        }

        a{
            text-align: center;
            color: #3E5386;
            font-style: italic;
            font-weight: 600;
            font-size: 30px;
            align-self: end;
        }
    }
}