#dashboard-section{
    display: flex;
    height: 100%;
    width: 100px;

    #aside_background_opacity{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        background: black;
        transition: .3s ease-in-out;
    }
    
    aside{
        display: flex;
        flex-direction: column;
        padding-top: 150px;
        gap: 30px;
        flex-shrink: auto;
        z-index: 2;
        min-width: 100px;
        height: 100%;
        background: linear-gradient(60deg, #162D65, #5577C9);
        border-right: 4px solid white;
        box-shadow: 4px 0px 20px 0px black;
        transition: .3s ease-in-out;
        
        &:hover{
            min-width: 400px;
            
            & ~ #aside_background_opacity{
                opacity: .5;
            }
            
            .aside-sections{
                opacity: 1;
            }
        }
        
        .aside-sections{
            position: relative;
            padding-left: 20px;
            color: white;
            opacity: 0;
            font-size: 30px;
            text-decoration: none;
            width: fit-content;
            white-space: nowrap;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover{
                transform: scale(1.5);
                padding-left: 60px;
                font-weight: 600;
            }

            &::after{
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                width: 60%;
                height: 2px;
                background: white;
            }
        }
    }
}